# ===
# MinIO
# ===

MINIO_ENDPOINT=minio:9000
MINIO_USER=admin
MINIO_PASSWORD=admin0000
MINIO_SECURE=False
# bucket names
BUCKET_RAW=raw
BUCKET_PROCESSED=processed
BUCKET_OUTPUT=output
BUCKET_MLFLOW=mlflow

# ===
# Mongo
# ===

MONGO_USER=admin
MONGO_PASSWORD=admin0000
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DBNAME=audio_midi
# mongo-express
ME_USER=admin
ME_PASSWORD=admin0000

# ===
# Postgres
# ===

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin0000
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DBNAME=audio_midi
# pgadmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin0000

# ===
# Postgres MLflow
# ===

POSTGRES_MLFLOW_USER=admin
POSTGRES_MLFLOW_PASSWORD=admin0000
POSTGRES_MLFLOW_DBNAME=mlflow

# ===
# MLflow
# ===

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=admin0000
AWS_REGION=us-east-1

# ===
# API
# ===

API_URL=http://localhost:8000